# =============== #
# Unity generated, builds#
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Builds/
*.dotsettings
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
# ============ #
# Protected Assets #
# ============ #
Assets/AllSky*
Assets/T4*
Assets/UnityVS
Assets/MultiPlatformToolSuite
Assets/JMO Assets
Assets/Audio/abaaml-*
Assets/Audio/Circus_Clown_Halloween_Horror*
Assets/Plugins/Cruncher*